* {
    padding:0;
    margin:0;
}

body {
    background-color: white;
}

header {
    background-color: black;
    color: white;
    font-family: sans-serif;
    padding: 40px;
}

.header-container {
    float:left
}
.name {
    display: inline;
    font-size: 30px;
}
.menu {
    float: right;
}

.menu ul {
    list-style: none;
    margin: 2px;
    padding: 0;
}

.menu li {
    display: inline;
    padding: 0 20px;
}

.menu a {
    text-decoration: none;
    color: lightseagreen;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

aside {
    font-family: sans-serif;
    float: left;
    grid-area: sidebar;
    padding: 100px;
}

.My-image {
    height: 300px;
    width: 500px;
}

.about-me-title {
    padding-right: 2px;
    border-right: 5px;
    border-right-style: solid;
}

.about-me-title p {
    font-size: 40px;
    padding-top: 200px;
    padding-right: 20px;
    padding-bottom: 200px;
    margin: 5px;
    text-align: right;


    animation-name: moveFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.about-me-title p:hover {
    color: lightsalmon;
}

.work-title {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-right: 20px;
    border-right: 5px;
    border-right-style: solid;

}

.work-title p {
    font-size: 40px;
    margin: 0;
    text-align: right;

    animation-name: moveFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.work-title p:hover {
    color: lightsalmon;
}

.grid-container {
    display: grid;
}

.grid-item {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    font-size: 10px;
    text-align: center;
  }

.contact-title {
    padding-right: 2px;
    border-right: 5px;
    border-right-style: solid;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contact-title p {
    font-size: 40px;
    padding-right: 7px;
    margin: 5px;
    text-align: right;

    animation-name: moveFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.contact-title p:hover {
    color: lightsalmon;
}

@keyframes moveFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.contact-title {
    padding: 20px;
    border-right: 5px;
    border-right-style: solid;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.about-me-content {
    font-family: sans-serif;
    width: 700px;
    height: 500px;
    padding-top: 100px;
    border-radius: 2%;
    border-style: none;
}

.work-content {
        font-family: sans-serif;
        width: 700px;
        height: 400px;
        border-radius: 2%;
        border-style: none;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .column {
    flex-basis: 100%;
  }
  
  @media screen and (min-width: 800px) {
    .column {
      flex: 1;
    }
  }

.contact-content {
    font-family: sans-serif;
    width: 700px;
    height: 100px;
    padding-top: 100px;
    border-radius: 2%;
    border-style: none;
}

.contact-content ul {
    list-style: none;
    margin: 2px;
    padding: 0;
}

.contact-content li {
    display: inline-block;
}

.contact-content a {
    color: lightseagreen;
    font-size: 14px;
    font-weight: bold;
    padding: 20px;
}

footer {
    background-color: black;
    padding-top: 3px; 
    position: fixed;
    height: 20px;
    margin-top: 100px;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
}